<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@artist.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @artist.about %>
<% content_for :meta_image, cl_image_path(@artist.image_url) %>


<div class="club-detail" style="background-image: url('<%= @artist.image_url %>'); width: 100%; background-repeat: repeat-y;">
  <div class="event-detail" style="background-image: url('<%= @artist.image_url %>'); width: 100%;">

    <div class="club-nav">
        <a href="<%= root_path %>">
          <div class="icon-box">
            <i class="fa-regular fa-angle-left"></i>
          </div>
        </a>
        <div class="" data-controller="favorite">
        <div class="icon-box">
          <div class="<%=current_user.favorited?(@artist) ? "un" : "" %>favorite">
            <%= link_to favoriter_artist_path(@artist), data: { favorite_target: "link" } do %>
            <i class="<%=current_user.favorited?(@artist) ? "fas" : "far" %> fa-heart" data-action="click->favorite#toggled"></i>
              <% end %>
          </div>
        </div>
      </div>
    </div>

<%= image_tag @artist.image_url, style: 'height:35vh; width:100%; object-fit: cover;'%>

  <div class="event-show-box">
    <div class="club-details">

      <div class="event-title-box">
        <h1><%= @artist.name %></h1>
      </div>

      <div class="event-subtitle">
      <%= link_to @artist.link, class: "event-interested", target: :_blank do %>
            Listen <%= @artist.name %> <i class="fa-solid fa-headphones"></i>
          <% end %>
      </div>

      <div class="event-main-facts">
        <h5>About:</h5>
        <p><%= @artist.about %></p>
        <h5>Genre:</h5>
        <p><%= @artist.genre %></p>

        <h5>Upcoming events of this artist</h5>
          <ul class="lineup">
            <% @artist.lineups.upcoming.each do |lineup| %>
            <li>
              <%= lineup.event.start_date.strftime("%A, %B %e, %Y") %><br>
              <%= link_to lineup.event.title, venue_event_path(lineup.event.venue_id, lineup.event.id) %>

            </li>
            <br>
            <% end %>
          </ul>

      </div>

    </div>
  </div>
  </div>
</div>
