
<% content_for :meta_title, "Find Users on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Sign up now and start enjoying the benefits of being a PartyTime member." %>
<% content_for :meta_image, asset_url('/assets/logo.jpg') %>

<h1>Users</h1>

  <div class="event-search" data-controller="refresh-list">
    <%= form_with url: users_path, method: :get, html: { class: "d-flex", data: { refresh_list_target: 'form' } } do %>
      <%= text_field_tag :query, params[:query], class: "form-control-event", placeholder: "Search for devise...", data: {refresh_list_target: 'searchInput', action: "keyup->refresh-list#update"} %>
      <%#= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>

<% @users.each do |user| %>
<ul>
  <li><h5><%=link_to user.nickname, user_path(user.id)%><h5></li>
  <li><p><%=user.full_name  %></p></li>
  <li><%=user.email %></li>
</ul>
<% end  %>
