 <%# CURRENT_USER PROFILE PAGE%>
  <div class="event-title">

    <% if current_user.nickname.nil? %>
      <h1>Profil</h1>
    <% else %>
      <h1>@<%= current_user.nickname %></h1>
    <% end %>
    <div class="event-icon">
      <i class="fa-solid fa-bell fa-lg"></i>
      <i class="fa-solid fa-comments fa-lg"></i>
    </div>
  </div>
<div class="container">

  <div class="profil-container">
    <%= cl_image_tag current_user.photo.key, height: 75, width: 75, crop: :fill, class: "avatar" unless current_user.photo.nil?%>
    <div class="profil-follower">
      <div class="header-item">
        <p>25</p>
        <h5>Events</h5>
      </div>
      <div class="header-item">
        <p>25</p>
        <h5>Followers</h5>
      </div>
      <div class="header-item">
        <p>25</p>
        <h5>Following</h5>
      </div>
    </div>
  </div>

  <div class="profil-description">
    <h3> <%= current_user.full_name %></h3>
    <p><%= current_user.bio %></p>
    <h3><%=current_user.email %></h3>
  </div>
  <hr/>

  <% current_user.follow_requests.each do |request| %>
    <%= cl_image_tag request.followerable.photo.key, height: 100, width: 100, crop: "thumb", radius: "max" unless request.followerable.photo.key.nil?%>
    <h5><%= link_to request.followerable.nickname, user_path(request.followerable.id) %> wants to follow you</h5>
    <%= button_to "Accept", accept_user_path(request.followerable) %>
    <%= button_to "Decline", decline_user_path(request.followerable) %>
  <% end  %>

  <%# if current_user.mutual_following_with?(@user)%>
    <%#= link_to "chatroom", chatroom_path(@chatroom) %>
  <%# end %>

  <h4><%=link_to "Followers", followers_user_path(current_user)%> (<%=current_user.followers.count%>) </h4><% current_user.followers.sample(3).each do |follower| %>
    <%= cl_image_tag follower.photo.key, height: 100, width: 100, crop: "thumb", radius: "max" unless follower.photo.key.nil?%>
    <ul>
    <li><%= link_to follower.nickname, user_path(follower.id) %></li>
    </ul>
    <% end %>
    <br/>

  <h4><%=link_to "Following", following_user_path(current_user)%> (<%=current_user.following.count%>)</h4><% current_user.following.sample(3).each do |following| %>
    <%= cl_image_tag following.photo.key, height: 100, width: 100, crop: "thumb", radius: "max" unless following.photo.key.nil?%>
    <ul>
    <li><%= link_to following.nickname, user_path(following.id) %></li>
    </ul>
  <% end %>

<hr/>

  <div>
    <h3>My upcoming Events</h3>
      <% @user.rsvps.future.each do |rsvp| %>
      <ul>
        <li><%= link_to rsvp.event.title, venue_event_path(rsvp.event.venue_id, rsvp.event.id) %></li>
      </ul>
    <% end %>
  </div>

  <div>
    <h3>My favorites venues</h3>
      <%current_user.favorited_by_type("Venue").each do |favorite|%>
        <ul>
          <li><%=link_to favorite.name, venue_path(favorite.id)%></li>
        </ul>
     <% end %>
  </div>

  <div>
    <h3>My Top Artists</h3>
      <%current_user.favorited_by_type("Artist").each do |favorite|%>
        <ul>
         <li><%=link_to favorite.name, artist_path(favorite.id)%></li>
        </ul>
    <% end %>
  </div>


  <div>
    <h3>My past Events</h3>
      <% @user.rsvps.past.each do |rsvp| %>
      <ul>
        <li><%= link_to rsvp.event.title, venue_event_path(rsvp.event.venue_id, rsvp.event.id) %></li>
      </ul>
    <% end %>
  </div>



  <%= link_to "Search for devise", users_path  %> <br/>
  <%= link_to "Edit Profile", edit_user_path(current_user) %><br/>
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>



</div>
