<div id="message-<%= message.id %>">
  <small>
    <a href="<%= user_path(message.user) %>"><strong><%= message.user.nickname %></strong></a>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>