<div class="navbar-bottom pt-10">
  <%= link_to "/" do %>
    <div class="home">
      <svg xmlns="http://www.w3.org/2000/svg" class="home" width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="M208 228H48a20.1 20.1 0 0 1-20-20v-92.5a20 20 0 0 1 6.6-14.8L114.5 28a20 20 0 0 1 27 0l80 72.7a20.3 20.3 0 0 1 6.5 14.8V208a20.1 20.1 0 0 1-20 20ZM52 204h152v-86.7l-76-69.1l-76 69.1Z"/></svg>
      <p class="home-text">Home</p>
    </div>
  <% end %>
  <%= link_to venues_path do %>
    <div class="home">
      <svg xmlns="http://www.w3.org/2000/svg" class=home width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/><path fill="currentColor" d="M13.026 2.27a1.5 1.5 0 0 1 1.968 1.292l.006.132V9.18l3.794.76a1.5 1.5 0 0 1 1.2 1.328l.006.142V19h1a1 1 0 0 1 .117 1.993L21 21H3a1 1 0 0 1-.117-1.993L3 19h1V6.36c0-.6.356-1.136.898-1.374l.128-.049l8-2.666ZM13 4.388L6 6.721V19h7V4.387Zm2 6.833V19h3v-7.18l-3-.6Z"/></g></svg>
      <p class="home-text">Clubs</p>
    </div>
  <% end %>
  <%= link_to events_path do %>
    <div class="home">
      <svg xmlns="http://www.w3.org/2000/svg" class="home" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2a8 8 0 0 0-8 8c0 5.4 7.05 11.5 7.35 11.76a1 1 0 0 0 1.3 0C13 21.5 20 15.4 20 10a8 8 0 0 0-8-8Zm0 17.65c-2.13-2-6-6.31-6-9.65a6 6 0 0 1 12 0c0 3.34-3.87 7.66-6 9.65ZM12 6a4 4 0 1 0 4 4a4 4 0 0 0-4-4Zm0 6a2 2 0 1 1 2-2a2 2 0 0 1-2 2Z"/></svg>
      <p class="home-text">Map</p>
    </div>
  <% end %>
  <% if user_signed_in?  %>
    <%= link_to dashboard_user_path(current_user) do %>
      <div class="home">
        <svg xmlns="http://www.w3.org/2000/svg" class="home" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 5v2m0 4v2m0 4v2M5 5h14a2 2 0 0 1 2 2v3a2 2 0 0 0 0 4v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-3a2 2 0 0 0 0-4V7a2 2 0 0 1 2-2"/></svg>
        <p class="home-text">Events</p>
      </div>
    <% end  %>
  <% end %>
  <% if user_signed_in?  %>
    <%= link_to profile_user_path(current_user) do %>
      <div class="home">
        <svg xmlns="http://www.w3.org/2000/svg" class="home" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><circle cx="12" cy="7" r="5"/><path stroke-linecap="round" stroke-linejoin="round" d="M17 14h.352a3 3 0 0 1 2.976 2.628l.391 3.124A2 2 0 0 1 18.734 22H5.266a2 2 0 0 1-1.985-2.248l.39-3.124A3 3 0 0 1 6.649 14H7"/></g></svg>
        <p class="home-text">Profile</p>
      </div>
    <% end %>
  <% end %>
</div>

<!--user_path(current_user) if current_user-->

<div class="navbar-top">
  <%= link_to "/" do %>
    <div class="home"  id="Berlin">
      <p class="home-text ">Berlin</p>
    </div>
  <% end %>
  <div class="home navbar-top-in-between">
        <div class="">
          <i class="fa-solid fa-bell fa-lg"></i>
        </div>
      <%= link_to chatrooms_path do %>
        <div class="home">
          <i class="fa-solid fa-comments fa-lg"></i>
        </div>
      <% end %>
  </div>
</div>
