<div class="container">
  <h2>It's Party Time! Create your event </h2>
  <%= simple_form_for @event do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :status %>
    <%= f.input :category %>
    <%= f.input :capacity %>
    <%= f.input :dresscode %>
    <%= f.input :start_date, as: :datetime, order: [:day, :month, :year], html5: true, include_blank: false %>
    <%= f.input :end_date, as: :datetime, order: [:day, :month, :year], html5: true, include_blank: false %>
    <%= f.input :venue_id, collection: @venues, label_method: :name, value_method: :id, include_blank: 'Select a venue' %>
    <%= f.submit %>
  <% end %>
</div>
