
<% content_for :meta_title, "Create an Event on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Experience the ultimate party scene at PartyTime's clubs. Find the hottest nightclubs in town and dance the night away to the best beats. Get exclusive VIP access, bottle service, and more. Come join the party at PartyTime!" %>
<% content_for :meta_image, asset_url('/assets/logo.jpg') %>


  <h2>It's Party Time! Create your event </h2>
  <%= simple_form_for [@event] do |f| %>
    <%= f.input :venue_id, collection: @venues, include_blank: 'Select a venue' %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :status %>
    <%= f.input :category, collection: %w[Party Concert Gathering Techno Jazz Pop House Eletronica Alternative], include_blank: 'Select a category' %>
    <%= f.input :capacity %>
    <%= f.input :dresscode %>
    <%= f.input :start_date, as: :datetime, order: [:day, :month, :year], html5: true, include_blank: false %>
    <%= f.input :end_date, as: :datetime, order: [:day, :month, :year], html5: true, include_blank: false %>
    <%= f.input :photo, as: :file %>
    <%= f.input :artists, as: :check_boxes, collection: @artists  %>
    <%= f.submit %>
  <% end %>
