<div class="container">
  <h3><%= @event.title %></h3>
    <ul>
      <li><%= @event.description %></li>
      <li><%= @event.status %></li>
      <li><%= @event.category%></li>
      <li><%= @event.capacity %></li>
      <li><%= @event.dresscode %></li>
      <li><%=@event.start_date.strftime("%a, %d %b %Y")%>
      <li><%= @event.start_date.strftime("%H:%M") %> - <%= @event.end_date.strftime("%H:%M") %>
    </ul>
  <h4> Venue: <%= link_to @event.venue.name, venue_path(@venue) %></h4>
  <p> Address: <%= @event.venue.address %></p>

  <h1>lineup</h1>

  <% @event.lineups.each do |lineup| %>
    <ul>
      <li><%= link_to lineup.artist.name, artist_path(lineup.artist.id) %></li>
    </ul>
  <% end %>

   <% if  !@rsvp.persisted? %>
        <%= simple_form_for [@event, @rsvp] do |f|  %>
          <%= f.submit "Interested"  %>
        <% end  %>
    <% elsif @rsvp.persisted? && @event.happening? && @rsvp.current_attending == false  %>
        <%= button_to "Checkin event", event_rsvp_path(@event, @rsvp), method: :patch  %>
      <%elsif  @rsvp.persisted? && @event.happening? && @rsvp.current_attending == true  %>
        <p>"checked in"</p>
     <% else %>
        <%= button_to "NOT Interested Anymore", event_rsvp_path(@event, @rsvp), method: :delete %>
      <% end %>

  <h4>Attending: <%= @event.rsvps.count %><h4>
    <% @event.rsvps.each do |rsvp| %>
    <ul>
    <li><%= link_to rsvp.user.full_name, user_path(rsvp.user.id) %></li>
    </ul>
  <% end %>


  <% if @event.happening? %>
    <%= @busy_queue %>
  <% end  %>



  <h5> <% if @rsvp.persisted? && @event.happening? && @rsvp.current_attending == false  %>
          <%= button_to "Checkin event", event_rsvp_path(@event, @rsvp), method: :patch  %>
          <%= @all_current_attending %>
        <% end %>
  </h5>

      <% if @event.user == current_user %>
        <%= link_to "Edit your event", edit_venue_event_path(@venue, @event)%>
        <%=link_to "Do you want to delete this event?", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <%end%>


     <%= link_to "Back to all events", root_path %>
    <%# <%= link_to "Chatroom", chatroom_path(@chatroom) %> %>
</div>
