<div>
  <h1>Events</h1>

  <%= form_with url: events_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a Event"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

      <div class="event-date">
        <% prev_date = nil %>
        <% @events_by_date.each do |date, events| %>
          <% if prev_date != date.to_date.strftime("%A, %B %e, %Y") %>
            <% prev_date = date.to_date.strftime("%A, %B %e, %Y") %>
              <h3> <%= prev_date %> </h3>
        <% end %>
      </div>
      <div class="event-card-container">
        <% events.each do |event| %>
        <div class="event-card">
          <h2><%= link_to event.title, venue_event_path(event.venue_id, event.id) %></h2>
            <div class="event-item">
              <p>From <%= event.start_date.strftime("%I:%M %p") %> to <%= event.end_date.strftime("%I:%M %p") %></p>
              <i class="fa-regular fa-heart"></i>
            </div>
        </div>
      </div>
      <% end %>
      <% if @events_by_date.keys.last == date %>
      <% end %>
    <% end %>


    <%= link_to "Back to home", root_path %>
    </div>
