
<% content_for :meta_title, "Events on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Discover the hottest events in town and plan your perfect night out with PartyTime. Browse through a variety of options, including concerts, festivals, parties, and more. Get event details, ticket information, and directions all in one place. Join PartyTime now and never miss out on the party!" %>
<% content_for :meta_image, asset_url('/assets/logo.jpg') %>

  <div class="event-search" data-controller="refresh-list">
    <%= form_with url: root_path, method: :get, html: { class: "d-flex", data: { refresh_list_target: 'form' } } do %>
      <%= text_field_tag :query, params[:query], class: "form-control-event", placeholder: "Search for Events...", data: {refresh_list_target: 'searchInput', action: "keyup->refresh-list#update"} %>
      <%#= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="events-all">
    <h3>Popular Events</h3>

  <%@popular_events.each do |pop| %>
  <div class="event-card-container">
      <div class="event-card">
         <%= cl_image_tag pop.photo.key, height: 100, width: 100, crop: :fill unless pop.photo.key.nil? %>
        <div class="event-box">
            <div class="event-item">
              <p><%=pop.start_date.strftime("%d.%m. - %^a")  %></p>
              <p><%= pop.start_date.strftime("%H:%M") %> at <%= link_to pop.venue.name, venue_path(pop.venue_id)%></p>
                <div class="" data-controller="favorite">
                  <div class="<%=current_user.favorited?(pop) ? "un" : "" %>favorite">
                    <%= link_to favoriter_event_path(pop), data: { favorite_target: "link" } do %>
                    <i class="<%=current_user.favorited?(pop) ? "fas" : "far" %> fa-heart" data-action="click->favorite#toggled"></i>
                   <% end %>
                </div>
                  </div>
                </div>
                <h5><%= link_to pop.title, venue_event_path(pop.venue_id, pop.id) %></h5>
              </div>
            </div>
    </div>
    <% end %>
  </div>


  <div class="events-all">
    <% prev_date = nil %>
    <% @events_by_date.each do |date, events| %>
      <% if prev_date != date.to_date.strftime("%d.%m. - %^a") %>
        <% prev_date = date.to_date.strftime("%d.%m. - %^a") %>


  <div class="event-date">
    <h3> <%= prev_date %> </h3>
  </div>
  <% end %>

  <div class="event-card-container">
    <% events.each do |event| %>
      <div class="event-card">
      <%= cl_image_tag event.photo.key, height: 100, width: 100, crop: :fill unless event.photo.key.nil? %>
        <div class="event-box">
            <div class="event-item">
              <p><%= event.start_date.strftime("%H:%M") %> at <%= link_to event.venue.name, venue_path(event.venue_id), class: "link-club"%></p>
                <div class="" data-controller="favorite">
                  <div class="<%=current_user.favorited?(event) ? "un" : "" %>favorite">
                    <%= link_to favoriter_event_path(event), data: { favorite_target: "link" } do %>
                    <i class="<%=current_user.favorited?(event) ? "fas" : "far" %> fa-heart" data-action="click->favorite#toggled"></i>
                    <% end %>
                  </div>
                </div>
              </div>
                <h5><%= link_to event.title, venue_event_path(event.venue_id, event.id) %></h5>
              </div>
            </div>
          <% end %>
    </div>
    <% end %>
  </div>
