
<% content_for :meta_title, "Clubs is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Experience the ultimate party scene at PartyTime's clubs. Find the hottest nightclubs in town and dance the night away to the best beats. Get exclusive VIP access, bottle service, and more. Come join the party at PartyTime!" %>
<% content_for :meta_image, asset_url('/assets/logo.png') %>

<div class="event-title">
  <h1>Venues</h1>
  <div class="event-icon">
    <i class="fa-solid fa-bell fa-lg"></i>
    <i class="fa-solid fa-comments fa-lg"></i>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @venues.each do |venue| %>
      <div class="col-sm-12 col-lg-3">
      <a href="<%= venue_path(venue.id) %>">
        <div class="club-card" style="background-image: url('<%= venue.image_url %>'); height: 30vh; width: 100%;">
          <div class="club">
            <div class="z-3 club-label">
              <%# <h5><%= link_to venue.name, venue_path(venue.id) %>
              <h5><%= venue.name %></h5>
              <p><%= venue.address %></p>
            </div>
          </div>
        </div>
        </a>
      </div>
    <% end %>

    <%= link_to "Back to home", root_path %>
  </div>
</div>
