<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@venue.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @venue.definition %>
<% content_for :meta_image, cl_image_path(@venue.image_url) %>
<div class="club-detail" style="background-image: url('<%= @venue.image_url %>'); height: 45vh; width: 100%;">
    <div class="club-nav">
      <a href="<%= venues_path %>">
        <div class="icon-box">
          <i class="fa-regular fa-angle-left"></i>
        </div>
      </a>
  <% if current_user.favorited?(@venue)%>
        <div class="icon-box">
          <a href="<%=unfavorite_venue_path(@venue)%>">
            <i class="fa-sharp fa-solid fa-heart fa-lg red-heart"></i>
          </a>
        </div>
  <% else %>
        <div class="icon-box">
          <a href="<%=favorite_venue_path(@venue)%>">
           <i class="fa-regular fa-heart"></i>
          </a>
       </div>
  <% end %>
    </div>
    <div class="club-box">
      <div class="club-text">
        <div class="club-head">
          <div class="club-title">
            <h1><%=@venue.name%></h1>
            <p><%= @venue.address %></p>
          </div>
          <img src="<%=@venue.logo %>" alt="">
        </div>
      </div>
      <div class="club-details">
        <p><%=@venue.definition %></p>
      </div>
      <div class="events-upcoming">
        <h3>Upcoming events</h3>
        <div class="events-details">
            <%@venue.events.each do |event| %>
            <p><%= link_to event.title, venue_event_path(@venue, event.id)  %></p>
            <%end%>


        </div>
      </div>

    </div>
  <div>
<%= render "mapbox_venue" %>
  </div>
<br>
<br>
<br>
<br>
</div>
